<div>
     <img src="img/arrow-up.png" ng-click="closeOrderDetail()" style="width:40px;margin:auto;display:block" />
</div>
<div class="row">
    <div class="col">
        <span >下单数量：{{data.ProductCount}}</span></div>
    <div class="col">
        <span >购物金额：{{data.OrderAmount}}</span></div>
</div>
<div class="row">
    <div class="col">
        <span >现金支付：{{data.CashMoney}}</span></div>
    <div class="col">
        <span >红包支付：{{data.CreditMoney}}</span></div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col">
        <span style="cursor:hand">订单状态：{{state}}</span></div>
</div>