<ion-view view-title="账户明细" class="accountDetail">
  <ion-content padding="20">
		<div class="row">
      <div class="col">
        <span class="a-icon balance"></span>
        <span class="t">余额：{{accountDetailCtrl.balance}}</span></div>
      <div class="col">
        <span class="a-icon envelope"></span>
        <span class="t">红包：{{accountDetailCtrl.red}}</span></div>
    </div>
    <div class="row">
      <div class="col">
        <span class="a-icon payment"></span>
        <span class="t">货款：{{accountDetailCtrl.goodsmoney}}</span></div>
      <div class="col">
        <span class="a-icon results"></span>
        <span class="t">业绩：{{accountDetailCtrl.performance}}</span></div>
    </div>
		<div class="row">
      <div class="col">
        <span class="a-icon consumption"></span>
        <span class="t">累计消费：{{accountDetailCtrl.totalAmount}}</span></div>
    </div>
  </ion-content>
</ion-view>
