<ion-view view-title="修改密码" class="changePassword">
	<ion-content padding="20">
		<div style="text-align:center;padding:5px 0px">
				<label>
					<input type="radio" name="mode" value="0" ng-model="changePasswordCtrl.mode">登陆密码
				</labe>
				<label>
					<input type="radio" name="mode" value="1" ng-model="changePasswordCtrl.mode">支付密码
				</labe>
		</div>
		<label class="item item-input">
			<span class="input-label">旧密码：</span>
			<input type="password" placeholder="旧密码" ng-model="changePasswordCtrl.oldPassword">
		</label>
		<label class="item item-input">
			<span class="input-label">新密码：</span>
			<input type="password" placeholder="新密码"  ng-model="changePasswordCtrl.newPassword">
		</label>
		<label class="item item-input">
			<span class="input-label">确认密码：</span>
			<input type="password" placeholder="确认密码" ng-model="changePasswordCtrl.confirmPassword">
		</label>
		<button class="button button-block button-positive" ng-click="changePasswordCtrl.changePassword()" >
			保存
		</button>
	</ion-content>
</ion-view>