<ion-view view-title="首页" class="home-page" hide-tabs>
  <ion-nav-buttons side="right">
    <a ng-click="dashCtrl.signOut()" class="exit" ng-if="!dashCtrl.isLogin()">
        登录
      </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-slides options="dashCtrl.swiperOptions" slider="data.slider">
      <ion-slide-page ng-repeat="adv in dashCtrl.bannerData track by $index">
        <img ng-src="{{adv.Image}}" ng-click="dashCtrl.goTo(adv.ExtField1)" >
      </ion-slide-page>
    </ion-slides>
    <div class="row menu-row">
      <div class="col col-25" ng-if="dashCtrl.isSeller()">
        <a class="menu-item" href="#/tab/orders/create">
          <img src="img/icon_order.png" />
          <span>我要报单</span>
        </a>
      </div>
      <div class="col col-25">
        <a class="menu-item" ng-click="dashCtrl.notify()">
          <img src="img/icon_mall.png">
          <span>大圣商城</span>
        </a>
      </div>
      <div class="col col-25">
        <a class="menu-item" ng-click="dashCtrl.notify()">
          <img src="img/icon_supper.png">
          <span>大圣超市</span>
        </a>
      </div>
      <div class="col col-25">
        <a class="menu-item" ng-click="dashCtrl.notify()">
          <img src="img/icon_charge.png">
          <span>充值中心</span>
        </a>
      </div>
      <div class="col col-25">
        <a class="menu-item" ng-click="dashCtrl.notify()">
          <img src="img/icon_group.png">
          <span>团购</span>
        </a>
      </div>
      <div class="col col-25">
        <a class="menu-item" ng-click="dashCtrl.notify()">
          <img src="img/icon_red.png">
          <span>红包</span>
        </a>
      </div>
      <div class="col col-25">
        <a class="menu-item" ng-click="dashCtrl.notify()">
          <img src="img/icon_out.png">
          <span>外卖</span>
        </a>
      </div>
      <div class="col col-25">
        <a class="menu-item" ng-click="dashCtrl.notify()">
          <img src="img/icon_category.png">
          <span>分类</span>
        </a>
      </div>
    </div>
    <div class="row news-row">
      <div class="col">
        <div class="topnews">
          <img src="img/top_news.png" />
        </div>
      </div>
      <div class="col col-75">
        <div class="news">
          <span class="category">热评</span>
          <span class="title">开学这样穿，同学直呼你女神</span>
        </div>
        <div class="news">
          <span class="category">热议</span>
          <span class="title">原来BB霜这样用才显白，而且很自然！</span>
        </div>
      </div>
    </div>
    <div class="row intro-row">
      <div class="col border-right p1" ng-click="dashCtrl.goTo(dashCtrl.introData[0].ExtField1)">
         <img ng-src="{{dashCtrl.introData[0].Image}}" ng-click="dashCtrl.goTo(dashCtrl.introData[0].ExtField1)">
      </div>
      <div class="col p1">
         <div class="row border-bottom">
           <div class="col p2">
              <img ng-src="{{dashCtrl.introData[1].Image}}" ng-click="dashCtrl.goTo(dashCtrl.introData[1].ExtField1)">
           </div>
         </div>
         <div class="row">
           <div class="col p2">
              <img ng-src="{{dashCtrl.introData[2].Image}}" ng-click="dashCtrl.goTo(dashCtrl.introData[2].ExtField1)">
           </div>
         </div>
      </div>
    </div>

    <div ng-repeat = "level in dashCtrl.fData">
      <div class="row banner border-bottom">
          <div class="col">
            <img src="img/t{{$index+1}}.png">
          </div>      
      </div>
      <div class="row content-row">
        <div class="col col-50 border-right border-bottom p1">
          <img ng-src="{{level.data[0].Image}}" ng-click="dashCtrl.goTo(level.data[0].ExtField1)">
        </div>
        <div class="col col-25 border-right border-bottom p1">
          <img ng-src="{{level.data[1].Image}}" ng-click="dashCtrl.goTo(level.data[1].ExtField1)">
        </div>
        <div class="col col-25 border-bottom  p1">
          <img ng-src="{{level.data[2].Image}}" ng-click="dashCtrl.goTo(level.data[2].ExtField1)">
        </div>
        <div class="col col-25 border-right border-bottom  p1">
          <img ng-src="{{level.data[3].Image}}" ng-click="dashCtrl.goTo(level.data[3].ExtField1)">
        </div>
        <div class="col col-25 border-right border-bottom  p1">
          <img ng-src="{{level.data[4].Image}}" ng-click="dashCtrl.goTo(level.data[4].ExtField1)">
        </div>
        <div class="col col-25 border-right border-bottom  p1">
          <img ng-src="{{level.data[5].Image}}" ng-click="dashCtrl.goTo(level.data[5].ExtField1)">
        </div>
        <div class="col col-25 border-bottom  p1">
          <img ng-src="{{level.data[6].Image}}" ng-click="dashCtrl.goTo(level.data[6].ExtField1)">
        </div>
      </div>
    </div>

    <div class="row banner" style="background:none">
        <div class="col">
          <img src="img/t7.png">
        </div>      
    </div>
    <div class="row ex-row">
        <div class="col col-50">
          <div class="p-container clearfix">
            <img ng-src="{{dashCtrl.excellentData[0].Image}}" ng-click="dashCtrl.goTo(dashCtrl.excellentData[0].ExtField1)">
            <p class="p-title">
              {{dashCtrl.e1Data.Name}}
            </p>
            <p>
              <span class="p-price pull-left">
                ¥{{dashCtrl.e1Data.ShopPrice | number:2}}
              </span>
              <span class="p-count pull-right">
                月销{{dashCtrl.e1Data.SaleCount}}
              </span>
            </p>
          </div>
        </div>
        <div class="col col-50">
         <div class="p-container clearfix">
            <img ng-src="{{dashCtrl.excellentData[1].Image}}" ng-click="dashCtrl.goTo(dashCtrl.excellentData[1].ExtField1)">
            <p class="p-title">
              {{dashCtrl.e2Data.Name}}
            </p>
            <p>
              <span class="p-price pull-left">
                ¥{{dashCtrl.e2Data.ShopPrice | number:2}}
              </span>
              <span class="p-count pull-right">
                月销{{dashCtrl.e2Data.SaleCount}}
              </span>
            </p>
          </div>
        </div>
        <div class="col col-50">
         <div class="p-container clearfix">
            <img ng-src="{{dashCtrl.excellentData[2].Image}}" ng-click="dashCtrl.goTo(dashCtrl.excellentData[2].ExtField1)">
            <p class="p-title">
              {{dashCtrl.e3Data.Name}}
            </p>
            <p>
              <span class="p-price pull-left">
                ¥{{dashCtrl.e3Data.ShopPrice | number:2}}
              </span>
              <span class="p-count pull-right">
                月销{{dashCtrl.e3Data.SaleCount}}
              </span>
            </p>
          </div>
        </div>
        <div class="col col-50">
         <div class="p-container clearfix">
            <img ng-src="{{dashCtrl.excellentData[3].Image}}" ng-click="dashCtrl.goTo(dashCtrl.excellentData[3].ExtField1)">
            <p class="p-title">
              {{dashCtrl.e4Data.Name}}
            </p>
            <p>
              <span class="p-price pull-left">
                ¥{{dashCtrl.e4Data.ShopPrice | number:2}}
              </span>
              <span class="p-count pull-right">
                月销{{dashCtrl.e4Data.SaleCount}}
              </span>
            </p>
          </div>
        </div>
    </div>
    
  </ion-content>
</ion-view>