<ion-view view-title="收货地址" class="address-list">
   <ion-nav-buttons side="right">
      <a class="a-bd" href="#/tab/account/shipAddressCreate/0">
        <span class="txt">新增</span>
        <span class="icon"></span>
      </a>
    </ion-nav-buttons>
  <ion-content >
    <div class="list">
      <div class="item" ng-repeat="address in shipAddressListCtrl.addresses">
        <div class="row">
          <div class="col">{{address.Consignee}}</div>
          <div class="col" style="text-align:right">{{address.Mobile}}</div>
        </div>
        <div class="row">
          <div class="col">
              {{address.ProvinceName+address.CityName+address.CountyName+address.TownName+address.Address}}
          </div>
        </div>
        <div class="row footer">
          <div class="col">
            <span class="radio radioStyle" ng-click="shipAddressListCtrl.setDefault(address.SaId)">
              <i class="iconfont"
              ng-class="{true:'icon-icon-test16 selected', false: 'icon-icon-test15'}[address.IsDefault==1]"
              ></i>
              <label>默认地址</label>
            </span>
          </div>
          <div class="col" style="text-align:right">
            <a href="#/tab/account/shipAddressCreate/{{address.SaId}}" class="btnIco">
              <em class="iconfont icon-icon-test41"></em>
              <span>编辑</span>
            </a>
            <span class="btnIco"  ng-click="shipAddressListCtrl.removeShipAddress(address.SaId)">
              <em class="iconfont icon-icon-test40">
                </em>
                <span>删除</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>