<ion-view view-title="商品详情" hide-nav-bar="true"  class="product-detail" cache-view="false">
   <ion-header-bar align-title="left" >
    <a href="#/tab/categories">
        <i class="ion-chevron-left" style="color:#cfcfcf;margin: 0px 10px 0px 10px;font-size:22px;line-height:34px">
        </i>
    </a>
    <div class="item-input-inset" style="width:90%">
        <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="商品搜索" ng-model="productDetailCtrl.keyword">
        </label>
        <button class="button button-positive" ng-click="productDetailCtrl.searchProduct()" style="width:60px">
          查询
        </button>
    </div>
    </ion-header-bar>
  <ion-content>
		 <ion-slides options="productDetailCtrl.swiperOptions" slider="data.slider" >
      <ion-slide-page ng-repeat="img in productDetailCtrl.product.ProductImageList track by $index">
        <img ng-src="{{img.ShowImg}}" onerror="">
      </ion-slide-page>
    </ion-slides>
		<div class="product-panel product-basic">
			<div class="row">
				<div class="col">
					{{productDetailCtrl.product.ProductInfo.Name}}
				</div>
			</div>
			<div class="row">
				<div class="col price">
					¥{{productDetailCtrl.product.ProductInfo.ShopPrice | number:2}}
				</div>
				<div class="col count" style="text-align:right">
					月销{{productDetailCtrl.product.ProductInfo.SaleCount}}
				</div>
			</div>
		</div>
		<div class="product-panel product-store">
			<div class="row">
				<div class="col">
					<span class="st">店铺</span>
					<span>{{productDetailCtrl.product.StoreInfo.Name}}</span>
				</div>
				<div class="col">
					<span class="st">卖家</span>
					<span>{{productDetailCtrl.product.StoreKeeperInfo.Name}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<span class="nt">商品描述</span>
					<span class="fongColorEE">{{productDetailCtrl.product.StoreInfo.DePoint  | number:2 }}</span>
				</div>
				<div class="col">
					<span class="nt">商家服务</span>
					<span class="fongColorEE">{{productDetailCtrl.product.StoreInfo.SePoint  | number:2 }}</span>
				</div>
				<div class="col">
					<span class="nt">商家配送</span>
					<span class="fongColorEE">{{productDetailCtrl.product.StoreInfo.ShPoint | number:2 }}</span>
				</div>
			</div>
		</div>
		<div class="product-panel product-images">
			<div class="row">
				<div class="col">
					<h4 style="border-bottom: solid 1px #f0f0f0;">商品详情</h4>
					<div ng-bind-html="productDetailCtrl.product.ProductInfo.Description" class="p-detail">
					</div>
				</div>
			</div>
		</div>
  </ion-content>
	<ion-footer-bar ng-if="productDetailCtrl.isLogin()">
		<div class="row" >
			<div class="col" style="text-align:center" ng-click="productDetailCtrl.bookMark()">
				收藏
			</div>
			<div class="col" style="text-align:center" ng-click="productDetailCtrl.addToCart()">
				加入购物车
			</div>
			<div class="col buy-now" ng-click="productDetailCtrl.buyNow()">
				立即购买
			</div>
		</div>
	</ion-footer-bar>
</ion-view>