<ion-view view-title="我的订单" class="online-order-list">
  <ion-content >
		 <div class="list-item list-search">
      <div class="bar item-input-inset">
          <button  class="button" 
          ng-class="{'button-positive': onlineOrderCtrl.orderState==0}"
          ng-click='onlineOrderCtrl.filterState(0)'
          >全部</button>
          <button  class="button"
           ng-class="{'button-positive': onlineOrderCtrl.orderState==30}"
          ng-click='onlineOrderCtrl.filterState(30)'
          >待付款</button>
          <button  class="button"
          ng-class="{'button-positive': onlineOrderCtrl.orderState==90}"
          ng-click='onlineOrderCtrl.filterState(90)'
          >待发货</button>
					<button  class="button"
          ng-class="{'button-positive': onlineOrderCtrl.orderState==110}"
          ng-click='onlineOrderCtrl.filterState(110)'
          >待收货</button>
          <button  class="button"
           ng-class="{'button-positive ion-arrow-up-c':productSearchResultCtrl.sortType === 3 && productSearchResultCtrl.sortDirection === 1,
          'button-positive ion-arrow-down-c': productSearchResultCtrl.sortType === 3 && productSearchResultCtrl.sortDirection == 0}"
          >待评价</button>
          <span></span>
      </div>
		</div>
		<section ng-repeat="order in onlineOrderCtrl.orders track by $index" class="order" ng-if="onlineOrderCtrl.orders.length > 0">
			<dl class="clearfix">
				<dt class="order-title">
					<span class="pull-left">{{order.StoreName}}</span>
					<span class="pull-right fongColorEE">{{onlineOrderCtrl.getOrderState(order.OrderState)}}</span>
				</dt>
				<dd class="clearfix" ng-repeat="product in order.products track by $index">
					<a href="#/tab/order/product/{{product.Pid}}">
						<img ng-src="{{product.ShowImg}}" onerror="this.src='img/logo.png';this.style.background='#0086b3'">
					</a>
					<div class="info">
						<a href="#/tab/order/product/{{product.Pid}}">
						{{product.Name}}
						</a>
						<p class="clearfix"><span class="pull-left">¥{{product.DiscountPrice}}</span><em>x{{product.RealCount}}</em></p>
					</div>
				</dd>
				<dt class="order-title" style="text-align:right">
					合计：<span class="fongColorEE">¥{{order.SurplusMoney | number:2}}</span>
				</dt>
				<dt class="order-title" style="border-bottom:none;text-align:right" ng-if="order.OrderState==30">
					<button class="button button-small button-outline button-dark" ng-click="onlineOrderCtrl.cancelOrder(order)">
						取消订单
					</button>
					<button class="button button-small  button-positive">
						&nbsp;&nbsp;&nbsp;&nbsp;付款&nbsp;&nbsp;&nbsp;&nbsp;
					</button>
				</dt>
				<dt class="order-title" style="border-bottom:none;text-align:right" ng-if="order.OrderState==110">
					<button class="button button-small  button-positive" ng-click="onlineOrderCtrl.confirmReceipt(order)">
						确认收获
					</button>
				</dt>
			</dl>
		</section>
		<div ng-if="onlineOrderCtrl.orders.length == 0&& onlineOrderCtrl.dataLoaded"  style="text-align:center; padding:30px 0">
        当前条件下没有数据.......
    </div>
		<ion-infinite-scroll
      immediate-check="false"
      on-infinite="onlineOrderCtrl.loadMoreOrders()"
      ng-if="!onlineOrderCtrl.noMoreData"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>

</ion-view>