<ion-view view-title="商品收藏" class="order-list">
  <ion-content >
    <ion-list>
      <ion-item ng-repeat="product in favoriteProductCtrl.products">
        <div class="order-goods">
           <div class="row">
             <div class="col">
                  <span >{{product.ProductName}}</span></div>
              <div class="col">
                  <span style="float:right">{{address.Mobile}}</span></div>
            </div>
            <div class="row">
              <div class="col">
									{{address.ProvinceName+address.CityName+address.CountyName+address.TownName+address.Address}}</div>
            </div>
        </div>
        <div class="order-footer">
         <ion-checkbox class="checkbox-dark checkbox-square" ng-model="order.isDefault"></ion-checkbox>
        </div>
      </ion-item>
		</ion-list>
  </ion-content>
</ion-view>